In [1]:
#empty list 
a=[]
print(a)
print(type(a))

[]
<class 'list'>

In [2]:
#HOMOGENEOUS 
a=[10,20,30,40,50]
print(a)
print(type(a))

[10, 20, 30, 40, 50]
<class 'list'>

In [4]:
#HETEROGENEOUS 
a=["darshan",20,20.5,True,False]
print(a)
print(type(a))

['darshan', 20, 20.5, True, False]
<class 'list'>

In [5]:
a=eval(input("enter the no="))
print(a)
print(type(a))

enter the no= 20

20
<class 'int'>

In [7]:
# INDEXING AND SLICING
my_list=list(("one","trwo","three"))
print(my_list[0])

one

In [8]:
a=[10,20,30,40,50,60]
print(a[::])

[10, 20, 30, 40, 50, 60]

In [10]:
a=[10,20,30,40,50,60]
print(a[::-1])

[60, 50, 40, 30, 20, 10]

In [11]:
a=[10,20,30,40,50,60]
print(a[0:5:2])

[10, 30, 50]

In [14]:
a=[10,20,30,40,50,60]
print(a[-6::])

[10, 20, 30, 40, 50, 60]

In [30]:
a=[10,20,30,40,50,60]
print(a[-6:10:])
print(a[-6])
print(a[0])
print(a[-6])
for nums in a:
    print(nums)
#

[10, 20, 30, 40, 50, 60]
10
10
10
10
20
30
40
50
60

In [41]:
a=[10,20,30,40,50,60]
#a.sort(reverse=False)
a.sort(reverse=True)
print(a[::-1])
print(a)

[60, 50, 40, 30, 20, 10]
[10, 20, 30, 40, 50, 60]

In [122]:
a=[10,20,30,40,50,60,10]
# print(a.append(1024))
print(a.insert(8,2024))
# a.remove(40)
# a.pop(1)
# b=a.copy()
# c=a.count(10)
print(a)
# print(b)
# print(c)

None
[10, 20, 30, 40, 50, 60, 10, 2024]

In [76]:
a=[10,20,30,40,50,60]
# a+["darshan"]
print(len(a))
# max(a)
print(max(a))
# print(a)
print(min(a))
a.append(10)
print(a)

6
60
10
[10, 20, 30, 40, 50, 60, 1000]

In [80]:
a=[10,20,30,40,50,60]
a.insert(7,5000)
print(a)
a.pop()
print(a)

[10, 20, 30, 40, 50, 60, 5000]
[10, 20, 30, 40, 50, 60]

In [124]:
a=[10,20,30,40,50,60]
a.pop(1)
print(a)

[10, 30, 40, 50, 60]

In [90]:
a=[10,20,30,40,50,60]
b=[30,50,60]
a.extend(b)
print(a)

[10, 20, 30, 40, 50, 60, 30, 50, 60]

In [94]:
a=[10,20,30,40,50,60]
b=[30,50,60]
a.remove(30)
#print(a.remove(30))
print(a)

[10, 20, 40, 50, 60]

In [97]:
a=[10,20,30,40,50,60]
b=[30,50,60]
a.clear()
# print(a.clear())
print(a)

[]

In [100]:
a=[10,20,30,40,50,60]
b=[30,50,60]
c=a.copy()
# print(c=a.copy())
print(c)

[10, 20, 30, 40, 50, 60]

In [102]:
a=[10,20,30,40,50,60]
b=[30,50,60]
a.reverse()
# print(c=a.copy())
print(a)

[60, 50, 40, 30, 20, 10]

In [104]:
a=[10,20,30,40,50,60,10,10]
b=[30,50,60]
# a.count(10)
print(a.count(10))
print(a)

3
[10, 20, 30, 40, 50, 60, 10, 10]

In [106]:
a=[10,20,30,40,50,60,10,10]
b=[30,50,60]
#a.sort()
print(a.sort())
print(a)

None
[10, 10, 10, 20, 30, 40, 50, 60]

In [116]:
a=[10,20,30,40,50,60,10,10]
b=[30,50,60]
c=a.index(10,4)
# print(a.index())
print(c)

6

In [118]:
a=[10,20,30,40,50,60,10,10]
b=[30,50,60]
c=sum(a,100)
# print(a.index())
print(c)

330

In [130]:
t={"10":"3","DAE":"20",}
print(type(t))

<class 'dict'>

In [132]:
#INDEXING OF TUPLES
t=(10,20,30,"saivikas","dinesh")
print(t)
print(type(t))

(10, 20, 30, 'saivikas', 'dinesh')
<class 'tuple'>

In [134]:
print(t[0])
print(t[1])
print(t[4])

10
20
dinesh

In [135]:
t[0]="darshan"
print(t)

TypeError: 'tuple' object does not support item assignment

In [140]:
print(t[::-1])
print(t[::])
print(t[0:10:])
print(t[2:10:])

('dinesh', 'saivikas', 30, 20, 10)
(10, 20, 30, 'saivikas', 'dinesh')
(10, 20, 30, 'saivikas', 'dinesh')
(30, 'saivikas', 'dinesh')

In [144]:
t=(10,20,30,"saivikas","dinesh")
print(t)
t.index("saivikas")
t.index("dinesh")

(10, 20, 30, 'saivikas', 'dinesh')

4

In [147]:
t=(10,20,30,"saivikas","dinesh","saivikas")
print(len(t))
t.count("saivikas")
# t.index("dinesh")

6

2

In [150]:
t=(10,20,30)
print(max(t))
print(min(t))

30
10

In [153]:
t=(10,20,30,"saivikas","dinesh","saivikas")
# print(len(t))
# t.insert(0,2300)
# t.index("dinesh")
print(t)

(10, 20, 30, 'saivikas', 'dinesh', 'saivikas')

In [158]:
t=(10,20,30,"saivikas","dinesh","saivikas")
# print(len(t))
t.pop(4)
# t.index("dinesh")
print(t)

AttributeError: 'tuple' object has no attribute 'pop'

In [159]:
t=(10,20,30,"saivikas","dinesh","saivikas")
# print(len(t))
t.reverse()
# t.index("dinesh")
print(t)

AttributeError: 'tuple' object has no attribute 'reverse'

In [165]:

t=(10,20,30,"saivikas","dinesh","saivikas")
# print(len(t))
# t.clear()
del t
# t.index("dinesh")
print(t)

NameError: name 't' is not defined

In [166]:
t=(10,20,30,"saivikas","dinesh","saivikas")
# print(len(t))
t.reverse()
# t.index("dinesh")
print(t)

AttributeError: 'tuple' object has no attribute 'reverse'

In [167]:
t=(10,20,30,"saivikas","dinesh","saivikas")
# print(len(t))
a=t.reverse()
# t.index("dinesh")
print(a)

AttributeError: 'tuple' object has no attribute 'reverse'

In [168]:
t=(10,20,30,"saivikas","dinesh","saivikas")
# print(len(t))
t.sort()
# t.index("dinesh")
print(t)

AttributeError: 'tuple' object has no attribute 'sort'

In [173]:
movies=[]
mov1=input("enter 1 movie=")
mov2=input("enter 1 movie=")
mov3=input("enter 1 movie=")
mov4=input("enter 1 movie=")
mov5=input("enter 1 movie=")
mov6=input("enter 1 movie=")
movies.append(mov1)
movies.append(mov2)
movies.append(mov3)
movies.append(mov4)
movies.append(mov5)
movies.append(mov6)
print(movies)

enter 1 movie= bhhj
enter 1 movie= iujhiu
enter 1 movie= huyrhghyuyru
enter 1 movie= hnjnm
enter 1 movie= jhuj
enter 1 movie= yft

['bhhj', 'iujhiu', 'huyrhghyuyru', 'hnjnm', 'jhuj', 'yft']

In [176]:

mov1=input("enter 1 movie=")
mov2=input("enter 1 movie=")
mov3=input("enter 1 movie=")
mov4=input("enter 1 movie=")
mov5=input("enter 1 movie=")
mov6=input("enter 1 movie=")
print([mov1,mov2,mov3,mov4,mov5,mov6])

enter 1 movie= yrt
enter 1 movie= r
enter 1 movie= r
enter 1 movie= r
enter 1 movie= r
enter 1 movie= r

['yrt', 'r', 'r', 'r', 'r', 'r']

In [178]:
print("darshan")

darshan

In [185]:
c=1
while c<=4:
    print(c,end=" ")
    c+=1

1 2 3 4

In [187]:
s={10,20,30,20,30,30,10,80,920}
print(s)

{80, 20, 920, 10, 30}

In [190]:
s={"darshan","moon","earth",20}
print(s)

{'darshan', 20, 'moon', 'earth'}

In [194]:
s={10,30,40,20,40,20,10}
print(s)
print(len(s))
print(type(s))

{40, 10, 20, 30}
4
<class 'set'>

In [196]:
s=set((10,30,40,20,40,20,10))
print(s)

{40, 10, 20, 30}

In [197]:
s=set((10,30,40,20,40,20,10))
for i in s:
    print(i)

40
10
20
30

In [198]:
s=set((10,30,40,20,40,20,10))
s.add("darshan")
print(s)

{40, 'darshan', 10, 20, 30}

In [199]:
a={20,30,40,310,230}
b={"darshan","moon","maa"}
a.update(b)
print(a)

{'maa', 20, 'moon', 230, 310, 40, 'darshan', 30}

In [236]:
a={20,30,40,310,230}
print(a)
a.pop()
# a.remove(1000)
print(a)

{20, 230, 310, 40, 30}
{230, 310, 40, 30}

In [205]:
a={20,30,40,310,230}
a.discard(310)
a.discard(20000) # no error
print(a)

{20, 230, 40, 30}

In [207]:
a={20,30,40,310,230}
b=a.pop()
print(b)

20

In [208]:
a={20,30,40,310,230}
a.clear()
print(a)

set()

In [209]:
a={20,30,40,310,230}
del a
print(a)

NameError: name 'a' is not defined

In [220]:
s1={1,2,3,4,5,6,7,8}
s2={9,10,11,12,13,14,1,2,3,20}
a=s1.union(s2)
print(a)
print(s1|s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 20}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 20}

s1={1,2,3,4,5,6,7,8}
s2={9,10,11,12,13,14,1,2,3,20}
a=s1.intersection(s2)
print(a)
print(s1|s2)

In [222]:
s1={1,2,3,4,5,6,7,8}
s2={9,10,11,12,13,14,1,2,3,20} 
a=s1.intersection(s2) 
print(a) 
print(s1|s2)

{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 20}

In [224]:
s={10,20,30,40,50}
s.remove(50)
print(s)
s.remove(20000)

{20, 40, 10, 30}

KeyError: 20000

In [225]:
s={10,20,30,40,50}
#s.remove(50)
print(s)
s.discard(20000)
print(s)

{50, 20, 40, 10, 30}
{50, 20, 40, 10, 30}

In [226]:
s1={1,2,3,4,5,6,7,8}
s2={9,10,11,12,13,14,1,2,3,20} 
a=s1.intersection(s2) 
print(a) 
print(s1&s2)

{1, 2, 3}
{1, 2, 3}

In [229]:
s1={1,2,3,4,5,6,7,8}
s2={9,10,11,12,13,14,1,2,3,20} 
a=s1.difference(s2)
print(s1-s2)
print(a)
print(s1.difference(s2))

{4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [249]:
s1={1,2,3,4,5,6,7,8}
s2={9,10,11,12,13,14,1,2,3,20} 
print(s1^s2)
print(s2^s1)
d=s1.symmetric_difference(s2)
print(d)
s2.symmetric_difference_update(s1)
print(s2)

{4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 20}
{4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 20}
{4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 20}
{4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 20}

In [241]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\welcome\appdata\local\programs\python\python313\lib\site-packages (2.2.0)

In [244]:
import numpy as np
import numpy as np

arr = np.array([10, 20])
print(arr)

[10 20]

In [245]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\welcome\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\welcome\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\welcome\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/11.5 MB 6.6 MB/s eta 0:00:02
   ---------- ----------------------------- 3.1/11.5 MB 8.1 MB/s eta 0:00:02
   ----------------- ---------------------- 5.0/11.5 MB 8.1 MB/s eta 0:00:01
   -------------------------- ------------- 7.6/11.5 MB 9.2 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.5 MB 9.7 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 10.1 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 8.6 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [247]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston

In [263]:
import pandas as pd
data = { 
    "name":["dinesh kumar","sameer","saivikas"],
    "class":["3rd yr btech","3rd yr btech","3rd yr btech"],
    "adress":["station ganpoor","hanmakonda","hitechcity"],
    "age":[24,22,100]
}
print(data)
# print(data("name"))
df = pd.DataFrame(data)
print(df)

{'name': ['dinesh kumar', 'sameer', 'saivikas'], 'class': ['3rd yr btech', '3rd yr btech', '3rd yr btech'], 'adress': ['station ganpoor', 'hanmakonda', 'hitechcity'], 'age': [24, 22, 100]}
           name         class           adress  age
0  dinesh kumar  3rd yr btech  station ganpoor   24
1        sameer  3rd yr btech       hanmakonda   22
2      saivikas  3rd yr btech       hitechcity  100

In [279]:
s={"name","roolno"}
print(s)
print("name"in s)
print("roolno" in s)

{'roolno', 'name'}
True
True

In [280]:
s=("name","roolno")
print(s)
print("n"in s)
print("roolno" in s)

('name', 'roolno')
False
True

In [281]:
s="name"
print(s)
print("n"in s)
print("roolno" in s)

name
True
False

In [268]:
l1=[10,20,30,4,50,10,10,20,20]
se=set(l1)
print(se)

{4, 10, 50, 20, 30}

In [283]:
lt=eval(input("enter the list="))
s=set(lt)
a=list(lt)
b=list(s)
print("given LIST=",a)

# print("tuple=",lt)
print("SET VALUE=",s)
print("final list(duplicates removed)=",b)

enter the list= 11111111111111111111111111111,22,2,2,2,2,2,32,3,32,233,332,323,23,323,233

given LIST= [11111111111111111111111111111, 22, 2, 2, 2, 2, 2, 32, 3, 32, 233, 332, 323, 23, 323, 233]
SET VALUE= {32, 2, 3, 323, 11111111111111111111111111111, 233, 332, 22, 23}
final list(duplicates removed)= [32, 2, 3, 323, 11111111111111111111111111111, 233, 332, 22, 23]

In [287]:
dict={"key1":"darshan","lock":"love","propose":["dont propose me i have to study"],}
print(dict)
print(dict["lock"])
print(dict["propose"])

{'key1': 'darshan', 'lock': 'love', 'propose': ['dont propose me i have to study']}
love
['dont propose me i have to study']

In [290]:
d={100:"niku andhuku",101:"EEE",102:"university"}
print(d)
d[103]="bye brow"
print(d)
d[104]="okay"
print(d)
del d[100]

{100: 'niku andhuku', 101: 'EEE', 102: 'university'}
{100: 'niku andhuku', 101: 'EEE', 102: 'university', 103: 'bye brow'}
{100: 'niku andhuku', 101: 'EEE', 102: 'university', 103: 'bye brow', 104: 'okay'}

In [303]:
# word=input("enter your word=")
# for nums in word :

#     if nums=="a":
#         print("alphabet a found")
#     elif nums=="e":
#         print("alphabet e found")
#     elif nums=="i":
#         print("alphabet i found")
#     elif nums=="o":
#         print("alphabet o found")
#     elif nums=="u":
#         print("alphabet u found")
#     else:
#         print("not found")

enter your word= darshan

not found
alphabet a found
not found
not found
not found
alphabet a found
not found

In [316]:
word=input("enter your word=")
x=["a","i","e","o","u"]
for nums in word :

    if nums in x:
        print("vowels found ==",nums)
        break
    # else:
    #     print("vowel not found")

enter your word= darshanog

vowels found == a

In [325]:
word=input("enter your word=")
x={"a","i","e","o","u"}
s1=set(word)
#a=s1.intersection(x)
print("vowels founded=",s1&x)
#print("vowel founded=",a)

enter your word= hiuhlomol

vowels founded= {'i', 'o', 'u'}